html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; }

body {
  padding: 20px; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
  font-family: Montserrat, sans-serif;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch; }

ul, li {
  list-style: none; }

a:link, a:visited, a:hover, a:active {
  text-decoration: none; }

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="submit"],
input[type="button"],
textarea {
  outline: none; }

/* Internet Explorer 10-11 */
.tituloPac {
  font-weight: bold;
  color: #6200ea; }

.tituloEjercicio {
  font-size: 20px;
  font-weight: bold;
  color: #6200ea;
  margin-top: 50px;
  margin-bottom: 20px;
  line-height: 35px;
  border-bottom: 1px solid #666; }

.containerEjercicio {
  width: 100%;
  margin-bottom: 80px; }

.inputText {
  height: 30px;
  border: 1px solid #666;
  padding-left: 10px;
  margin-bottom: 20px; }

.boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 177px;
  height: 30px;
  background-color: #304ffe;
  color: #fff;
  border-radius: 3px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  -webkit-transition: all, .3s;
  -o-transition: all, .3s;
  transition: all, .3s; }
  .boton:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.mensajes {
  margin-top: 40px;
  font-size: 20px;
  font-weight: bold; }

.mensajes--modificador,
#ejercicio4__mensajes p {
  font-size: 16px;
  font-weight: bold;
  line-height: 23px; }

.mensajes--margen {
  margin-bottom: 30px; }

.ejercicio4__textarea {
  width: 300px;
  height: 150px;
  border: 1px solid #666;
  padding: 10px;
  margin-bottom: 20px; }
