
.mensajes{
	margin-top: 40px;
	font-size: 20px;
	font-weight: bold;
}



.mensajes--modificador,
#ejercicio4__mensajes p{
	font-size: 16px;
	font-weight: bold;
	line-height: 23px;
}



.mensajes--margen{
	margin-bottom: 30px;
}



