
.tituloPac{
	font-weight: bold;
	color: #6200ea;
}



.tituloEjercicio{
	font-size: 20px;
	font-weight: bold;
	color: #6200ea;
	margin-top: 50px;
	margin-bottom: 20px;
	line-height: 35px;
	border-bottom: 1px solid #666;
}