
// html{
// width: 100.1%;} // Elimina el bug de las capas que se montan sobre el scroll;

html, body{
width: 100%;
height: 100%;
overflow-x: hidden;} // Puesto en body INTERFIERE EN EL EVENTO SCROLL DE JS 



body{
	padding: 20px;
}



*{
margin: 0;
padding: 0;
box-sizing: border-box;
color: #333;
font-family: Montserrat, sans-serif;
-webkit-tap-highlight-color: transparent;
-webkit-overflow-scrolling: touch; // Para el scroll fluido en IOS
}


ul, li {
list-style: none;}


a:link, a:visited, a:hover, a:active {
text-decoration: none;}


input[type="text"], 
input[type="password"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="submit"],
input[type="button"],
textarea{
outline: none;}


// textarea{
// font-family: 'Poppins';
// font-size: 12px;}


// input::placeholder{
//   color: #fff;
//   opacity: 1; // Opacity para firefox
// }

/* Internet Explorer 10-11 */
// :-ms-input-placeholder { 
//     color: #fff;
// }

